body {
    margin: 0;
    font-family: sans-serif;
    background-color: dodgerblue;
}

.container {
    width: 100%;
  font-family: 'Pacifico', cursive;
  font-size: 100px;
  font-weight: 700;
  color: #f48fb1;
  text-align: center;
  position: absolute;
  animation: happy 2s ease-in-out 7s forwards;
}

@property --num {
    syntax: "<integer>";
     initial-value: 2023;
    inherits: false;
}

.test>span{
    font-family: 'Montserrat', sans-serif;
    font-size: 175px;
    font-weight: 700;
    color:  gold;
    position: relative;
    align-items: center;
    justify-content: 38%;
}

span {
    animation: counter 5s infinite alternate ease-in-out;
    counter-reset: num var(--num);
    padding: 2rem;
  }
span::after {
    content: counter(num);
}

@keyframes numchange {
    from {
        --num: 2023;
    }
    to {
        --num: 2024;
    }
}